@import url("user.css");

@import url("style_home.css");

@import url("framework.css");

@mixin orange(){
  background-color: #EA5616;
  border-color: #EA5616;
}
.container {
  padding: 100px 0;
  margin-left: 200px;
}
.container-aud {
  margin-left: 200px;
}
.sidebar .sdb_holder {
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: #EA5616;

  &:active, &:focus {
    background: transparent;
  }

  &:hover {
    color: #FFFFFF;
  }
}

input:focus, textarea:focus, *:required:focus {
  border-color: #EA5616;
}

.btn {
  color: #FFFFFF;
  @include orange();

  &.inverse:hover {
    color: #FFFFFF;
    @include orange();
  }

  &:hover, &.inverse {
    color: inherit;
    background-color: transparent;
    border-color: inherit;
  }
}
@media (max-width:1370px){
  body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
  }
}
